.table{
    width: 484px;
    margin: 0 auto;
}
.table_row{
    display: flex;
    flex-direction: row;
}
.table_row>div>div , .table_row>div>img{
    display: block;
    padding: 20px;
    border: 1px solid #777;
    align-items: center;
    box-sizing: border-box;
    margin: 5px;
    width: 242px;
    overflow: hidden;
}
.name_author, .title_book, .row_number{
    font-weight: 700;
}

.photo_author{
    height: 242px;
}
.text_book{
    height: 242px;
}